.faqJobsContainer {
  width: 100%;
  padding: 150px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2 {
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    color: #fff;
  }
}

.questionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .faqJobsContainer {
    padding: 50px 30px;
    h2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .faqJobsContainer {
    h2 {
      font-size: 30px;
    }
  }
}
