.heroContainer {
  width: 100%;
  height: 100svh;
  background: url('/hero/bg-hero.avif');
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(25);
}

.title {
  display: flex;
  flex-direction: column;
  gap: -30px;

  h1 {
    font-size: 200px;
    text-align: center;
    color: #fff;
  }
  h2 {
    font-size: 200px;
    text-align: center;
  }
}

.textGradient {
  background: linear-gradient(
    90deg,
    rgba(250, 94, 66, 1) 0%,
    rgba(232, 54, 105, 1) 50%,
    rgba(170, 50, 200, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 1024px) {
  .title {
    h1 {
      font-size: 100px;
    }

    h2 {
      font-size: 100px;
    }
  }
}

@media screen and (max-width: 550px) {
  .title {
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 60px;
    }
  }
}
