.button {
  all: unset;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 150px;
  background: linear-gradient(
    90deg,
    rgba(250, 94, 66, 1) 33%,
    rgba(232, 54, 105, 1) 66%,
    rgba(170, 50, 200, 1) 100%
  );
  padding: 10px 20px;
  box-shadow: 4px 4px 25px 5px rgba(255, 255, 255, 0.25);

  a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
  }
}
